<div class="home-intro">
    <img src="https://lh3.googleusercontent.com/pw/AP1GczOk7wmpjO_Y3f04OcOPcAKZ9uUjbkrQD30l0wSA5WnHHb2QtH3f0g6TVwDBn34xih34Jr6Puqar901ivZ3c8rv2qdxcPyiyqtt7jloRGLT8rxzAza1aOEiTqjz4X2y7pJ-LevlFcOvbe-ipAPqbY4MXfw=w300-h300-s-no-gm?authuser=0" alt="안녕하세요! 저는 권봉재입니다" height="300"> <br> <br>
<div class="home-sub-text"> 
<b1>

    
Education
<br> <br> Integrated PhD in Civil &amp; Environmental Engineering, Seoul National University (2024~)
<br> <br>
BS in Human Environment Design, Yonsei University (2016 ~ 2021)
<br> <br>  <br>
Professional 
<br> <br> Industry Consultant, Dassault Systèmes, Seoul (2022 ~ 2024)<br> <br> <br>
Interest
<br> <br>
Estimation of Geospatial Information in Restricted Access Zones, Geospatial AI, Open-source GIS Development
</b1>
</div> </div>

<div class="papagoExt-icon" style="display: none; top: 105.717px; left: 210px;"><div style="background-image: url(&quot;moz-extension://703191eb-1aa2-45aa-8dec-baaa2c96adb7/icons/19.png&quot;); height: 19px; width: 19px;"></div></div><div class="papagoExt-inline light" style="font-family: Tahoma, Tahoma, Geneva, sans-serif; display: none;">
  <div class="papagoExt-flex-column" id="papagoExt-blur">
    <div class="papagoExt-flex papago-draggable">
      <select name="papagoExt-target" class="papagoExt-bordered" id="papagoExt-language-target">
        <option id="papagoExt-en" value="en">영어</option>
        <option id="papagoExt-ko" value="ko">한국어</option>
        <option id="papagoExt-ja" value="ja">일본어</option>
        <option id="papagoExt-zh-CN" value="zh-CN">중국어 (간체)</option>
        <option id="papagoExt-zh-TW" value="zh-TW">중국어 (번체)</option>
        <option id="papagoExt-vi" value="vi">베트남어</option>
        <option id="papagoExt-id" value="id">인도네시아어</option>
        <option id="papagoExt-th" value="th">태국어</option>
        <option id="papagoExt-de" value="de">독일어</option>
        <option id="papagoExt-ru" value="ru">러시아어</option>
        <option id="papagoExt-es" value="es">스페인어</option>
        <option id="papagoExt-it" value="it">이탈리아어</option>
        <option id="papagoExt-fr" value="fr">프강스어</option>
      </select>
      <div class="papagoExt-bordered" id="papagoExt-copy-button">복사하기</div>
    </div>
    <div class="papagoExt-bordered" id="papagoExt-result-text"></div>
    <div class="papagoExt-flex" id="papagoExt-links">
      <span onclick="window.open('https://www.patreon.com/translating_with_papago', '_blank')" id="papagoExt-donate">이 확장을 지원합니다</span>
    </div>
  </div>
  <div id="papagoExt-loader">
    <div id="papagoExt-loading-animation"></div>
  </div>
</div>
